*{
    box-sizing: border-box;
}
body {
    background-color: #1C1C1C;
    margin: 0;
}
.green{
    color: #4ADF86;
}
h1{
    margin-bottom: 0;
    font-size: 40px;
}
.container{
    background-color: #1F2937;
    color: white;
    width: 500px;
    height: 500px;
    margin: 10vh auto;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#btn{
    background-color: #10B981;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    margin: 30px 0 20px;
    font-weight: bold;
}
.passwords-container{
    border-top: 2px solid #2F3E53;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
} 
.password{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    background-color: #273549;
    border-radius: 6px;
    color: #55F991;
} 